# Legalizing Cannabis Decreases Fatal Opiate Overdoses

In [24]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np



#study data files
Overdose_by_opiods_df = pd.read_csv('raw_data.csv')

According to the American Academy of Pain Medicine, more than 100 million Americans suffer from chronic pain. In an effort to relieve that constant pain, the number of opiate prescriptions has nearly doubled over the last decade. Today, opiates like hydrocodone, oxycodone, and morphine flood the streets, driving up addiction rates and fatal opiate overdoses.

In [25]:
Overdose_by_opiods_df

,Location,"Natural and Semisynthetic Opioids (e.g. oxycodone, hydrocodone)","Synthetic Opioids, other than Methadone (e.g. fentanyl, tramadol)",Methadone,Heroin
0,United States,0,0,3023,14996
1,Alabama,126,147,32,137
2,Alaska,34,18,0,29
3,Arizona,311,522,62,352
4,Arkansas,108,92,16,19
5,California,910,865,234,778
6,Colorado,222,134,55,233
7,Connecticut,161,767,76,338
8,Delaware,62,296,24,143
9,District of Columbia,32,162,10,79
10,Florida,1150,2091,187,689
11,Georgia,395,349,84,299
12,Hawaii,27,14,0,16
13,Idaho,68,28,10,29
14,Illinois,407,1568,155,1050
15,Indiana,323,713,55,311
16,Iowa,54,80,10,37
17,Kansas,73,50,14,33
18,Kentucky,290,744,37,140
19,Louisiana,135,216,16,167
20,Maine,56,229,18,71
21,Maryland,425,1825,187,356
22,Massachusetts,253,1806,88,475
23,Michigan,442,1531,134,633
24,Minnesota,105,202,44,93
25,Mississippi,85,72,12,39
26,Missouri,231,868,40,351
27,Montana,23,11,0,22
28,Nebraska,37,26,0,0
29,Nevada,212,85,33,108
30,New Hampshire,34,386,0,12
31,New Jersey,412,2219,122,1287
32,New Mexico,133,105,52,130
33,New York,781,2195,266,1243
34,North Carolina,422,1272,76,619
35,North Dakota,20,0,0,0
36,Ohio,507,2783,71,721
37,Oklahoma,154,79,21,84
38,Oregon,123,97,34,154
39,Pennsylvania,595,2430,118,845
40,Rhode Island,58,213,33,24
41,South Carolina,330,510,58,183
42,South Dakota,0,13,0,0
43,Tennessee,500,827,67,369
44,Texas,459,358,111,668
45,Utah,279,83,40,156
46,Vermont,20,106,0,68
47,Virginia,252,852,93,532
48,Washington,216,221,94,328
49,West Virginia,214,551,27,195
50,Wisconsin,251,506,56,327
51,Wyoming,27,10,0,0

In [ ]:
#create a bar chart comparing opioids deaths by type of opioids 

#create labels for x and y 

plt.title("")
plt.xlabel("")
plt.ylabel("")

In [ ]:
#create a pie plot comparing over doses by age group

In [ ]:
#create a pie plot comparing youth cannabis usage

In [1]:

# y axel -age group overdose x axel -by year and add a legend of the appropriate opioid

In [ ]:
#create scatter plot with a legend of age group affected the most

#create a graph showing the rates of fatal opioid overdoses significantly --
#lower in states that have legalized medical/recreational marijuana.

We found there was about "enter percent here" lower rate of prescription painkiller overdose deaths on average after implementation of a medical marijuana law.